# ***************************************************
# This Config file is for SpectaProbe Ver4.0.1
#
# DON'T MAKE ANY CHANGES WITHOUT CONSULTING PINNACLE SUPPORT TEAM
# ANY CHANGE MAY LEAD TO INCORRECT FUNCTIONING OF SPECTAPROBE
#
#
# Copyright (c) 2016, Pinnacle Digital (P) Ltd. New-Delhi
# ***************************************************

# ***************************************************
#  DO NOT MOVE THIS SECTION
#  IT HAS TO BE THE FIRST SECTION OF THE CONFIG FILE
# ***************************************************

OPERATOR_NAME			OneBB
PROBE_ID			110

LOG_LEVEL			4
PRINT_STATS			true 
PRINT_STATS_FREQ_SEC		5
LOG_STATS_FREQ_SEC		60

LOG_DIR				/var/log/pinnacle/SpectaProbe/Delhi/
XDR_DIR				/data/xdr/SpectaProbe/Delhi/
UNM_DIR				/data/xdr/SpectaProbe/unknown/Delhi/
DATA_DIR			/appdata/packetanalyser1/SpectaProbe/,/appdata/packetanalyser2/SpectaProbe/

ADMIN_FLAG			true
ADMIN_PORT			tcp://*:4600

TIMER_THREAD_CORE		85

NO_OF_INTERFACE_SUPPORT		1
INTERFACE_NAME			p5p1

TCP_SERVER_ADDRESS		tcp://*:4701
UDP_SERVER_ADDRESS		tcp://*:4702
DNS_SERVER_ADDRESS		tcp://*:4703
AAA_SERVER_ADDRESS		tcp://*:4704

TCP_AGENT_CORE			61
UDP_AGENT_CORE			62
AAA_AGENT_CORE			63
DNS_AGENT_CORE			64

ROUTER_PER_INTERFACE		6

ROUTER_CORE			65,66,67,68,69,70		

SESSION_PKT_LIMIT		5000

SESSION_TIME_LIMIT		300

SESSION_CLEAN_UP_BATCH_LIMIT	100000

VPS_PACKET_PER_SEC		10000

# *************************************** TCP CONFIGURATION SECTION *********************************

TCP_PPS_PER_INTERFACE		500000

TCP_SM_INSTANCES		5
TCP_SM_CORE			65,66,67,68,69

TCP_FLUSHER_INSTANCE		1
TCP_FLUSHER_CORE		70

TCP_FILE_PREFIX			tcp

CHECK_DUPLICATE_PKT		true
MAX_DUPLICATE_CHECK		30000
PROCESS_ACK			true
ACK_CREATE_SESSION		true

TCP_CLEAN_UP_TIMEOUT_SEC	120

# *************************************** UDP CONFIGURATION SECTION *********************************

UDP_PPS_PER_INTERFACE		500000

UDP_SM_INSTANCES		5
UDP_SM_CORE			71,72,73,74,75

UDP_FLUSHER_INSTANCE		1
UDP_FLUSHER_CORE		76

UDP_FILE_PREFIX			udp
UDP_XDR_FOR_DNS			false

UDP_CLEAN_UP_TIMEOUT_SEC	120

# *************************************** DNS CONFIGURATION SECTION *********************************

DNS_PPS_PER_INTERFACE		100000

DNS_SM_INSTANCES		3
DNS_SM_CORE			77,78,79

DNS_FLUSHER_INSTANCE		1
DNS_FLUSHER_CORE		80

DNS_FILE_PREFIX			dns

DNS_CLEAN_UP_TIMEOUT_SEC	120

# *************************************** AAA CONFIGURATION SECTION *********************************

AAA_PPS_PER_INTERFACE		10000

AAA_SM_INSTANCES		1
AAA_SM_CORE			81

AAA_FLUSHER_INSTANCE		1
AAA_FLUSHER_CORE		82

AAA_FILE_PREFIX			aaa

AAA_SM_TIME_INDEX_PKT_LIMIT	20000

AAA_CLEAN_UP_TIMEOUT_SEC	120

# *************************************** Unknown CONFIGURATION SECTION *********************************

UNM_SM_INSTANCES		1
UNM_SM_CORE			83
UNM_FLUSHER_CORE		84

